#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(0, 254, 252, 0.6));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(0, 254, 252, 0.6));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.network-node {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 254, 252, 0.6);
  transition: all 0.5s ease;
}

.network-line {
  position: absolute;
  height: 1px;
  background: linear-gradient(90deg, rgba(0, 254, 252, 0.2), rgba(62, 71, 86, 0.2));
  z-index: 1;
  transform-origin: left center;
}
